
<img class='background_banner' src="images/backgrond.png">


	<div class="inner">
	<!-- 第一个轮播图 -->
	 <button  class="btn_left"  ng-click="left()"><</button>
	 <button  class="btn_right" ng-click="right()">></button>
	<div class="banner">
		<ul class="banner_ul">
				<li class="banner_li">
				<div class="pic"><img src="images/banner_pic1.PNG" alt=""></div>
				<div class="banner_li_bottom"><p>人生要漂亮</p></div>
				</li>
				<li class="banner_li">
				<div class="pic"><img src="images/banner_pic2.PNG" alt=""></div>
				<div class="banner_li_bottom"><p>人生要漂亮</p></div>
				</li>
				<li class="banner_li">
				<div class="pic"><img src="images/banner_pic3.PNG" alt=""></div>
				<div class="banner_li_bottom"><p>人生要漂亮</p></div>
				</li>
				<li class="banner_li">
				<div class="pic"><img src="images/banner_pic4.PNG" alt=""></div>
				<div class="banner_li_bottom"><p>人生要漂亮</p></div>
				</li>
				<li class="banner_li">
				<div class="pic"><img src="images/banner_pic5.PNG" alt=""></div>
				<div class="banner_li_bottom"><p>人生要漂亮</p></div>
				</li>
				<li class="banner_li">
				<div class="pic"><img src="images/banner_pic6.PNG" alt=""></div><div class="banner_li_bottom"><p>人生要漂亮</p></div></li>
				<li class="banner_li">
				<div class="pic"><img src="images/banner_pic7.PNG" alt=""></div>
				<div class="banner_li_bottom"><p>人生要漂亮</p></div>
				</li>
				<li class="banner_li">
				<div class="pic"><img src="images/banner_pic8.PNG" alt=""></div>
				<div class="banner_li_bottom"><p>人生要漂亮</p></div>
				</li>
				<li class="banner_li">
				<div class="pic">
				<img src="images/banner_pic9.PNG" alt=""></div>
				<div class="banner_li_bottom"><p>人生要漂亮</p></div>
				</li>
				<li class="banner_li">
				<div class="pic"><img src="images/banner_pic10.PNG" alt=""></div>
				<div class="banner_li_bottom"><p>人生要漂亮</p></div>
				</li>
				<li class="banner_li">
				<div class="pic"><img src="images/banner_pic11.PNG" alt=""></div>
				<div class="banner_li_bottom"><p>人生要漂亮</p></div>
				</li>
				<li class="banner_li">
				<div class="pic"><img src="images/banner_pic12.PNG" alt=""></div>
				<div class="banner_li_bottom"><p>人生要漂亮</p></div>
				</li>
			</ul>
		</div>
	</div>
	<!-- 轮播结束 -->
	<!-- 标题 -->
	 <!-- 第二个轮播图  -->



	 
	<div class="billboard">
		<h1>排行榜</h1>
		<ul>
			<li><img src="images/billboard_pic1.PNG" alt=""></li>
			<li><img src="images/billboard_pic2.PNG" alt=""></li>
			<li><img src="images/billboard_pic3.PNG" alt=""></li>
			<li><img src="images/billboard_pic4.PNG" alt=""></li>
		</ul>
	</div>
